In [1]:
import pandas as pd

In [2]:
vine_table="/Users/xutian/Desktop/DATA BOOT CAMP/Module 16/Amazon_Vine_Analysis/vine_table.csv"
vine_df=pd.read_csv(vine_table)
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1N3L6MJTAKHL8,1,0,1,N,Y
1,R1N3MLYLI0ZVV6,5,1,1,N,Y
2,R1N3NPPDXMZQ08,5,0,0,N,Y
3,R1N3NUJ7H1L0EL,3,0,0,N,Y
4,R1N3VHSJWLJ7NR,3,0,0,N,Y

In [3]:
# Step 1
vine_vote_df=vine_df[vine_df['total_votes']>=20]
vine_vote_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
122,R1NFMXSMMXNAF1,5,20,25,N,Y
295,R1NII0ZYAMMW6K,1,7,57,N,N
397,R1NRQV5E5FNI11,1,30,49,N,N
418,R1NJBXEPGJJEBQ,5,3,37,N,N
615,R1NYZ2SNIKSTCK,1,40,48,N,N

In [4]:
# Stpe 2
vine_divid_df=vine_vote_df[vine_vote_df['helpful_votes']/vine_vote_df['total_votes']>=0.5]
vine_divid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
122,R1NFMXSMMXNAF1,5,20,25,N,Y
397,R1NRQV5E5FNI11,1,30,49,N,N
615,R1NYZ2SNIKSTCK,1,40,48,N,N
1079,R1OXKQ54JOH99R,4,30,31,N,N
1144,R1OICTYCDYJXUL,5,20,20,N,Y

In [5]:
# Stpe 3
vine_paid_df=vine_divid_df[vine_divid_df['vine']=="Y"]
vine_paid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
2470,R1R074CU88231L,5,20,24,Y,N
20105,R2GVU56Z4K696L,5,17,20,Y,N
30629,R2X1EG17VZ0F49,4,24,27,Y,N
37698,R37PVLT6ELL5J4,4,181,209,Y,N
42520,R3F6ZF84ZT8LUV,3,15,20,Y,N

In [6]:
# Stpe 4
vine_unpaid_df=vine_divid_df[vine_divid_df['vine']=="N"]
vine_unpaid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
122,R1NFMXSMMXNAF1,5,20,25,N,Y
397,R1NRQV5E5FNI11,1,30,49,N,N
615,R1NYZ2SNIKSTCK,1,40,48,N,N
1079,R1OXKQ54JOH99R,4,30,31,N,N
1144,R1OICTYCDYJXUL,5,20,20,N,Y

# Paid Reviews

In [7]:
# The total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for paid review
total_reviews_paid=vine_paid_df['review_id'].count()
print("The total number of paid reviews is: "+str(total_reviews_paid))

The total number of paid reviews is: 613

In [8]:
five_stars_paid=vine_paid_df.loc[vine_paid_df['star_rating']==5]
print("The total number of 5-starts paid reviews is: "+str(len(five_stars_paid)))

The total number of 5-starts paid reviews is: 222

In [9]:
precentage_paid=str(len(five_stars_paid)/total_reviews_paid*100)+"%"
print("The percentage of 5-star reviews is: "+ precentage_paid)

The percentage of 5-star reviews is: 36.215334420880914%

# Unpaid Reviews

In [10]:
total_reviews_unpaid=vine_unpaid_df['review_id'].count()
print("The total number of unpaid reviews is: "+str(total_reviews_unpaid))

The total number of unpaid reviews is: 64934

In [11]:
five_stars_unpaid=vine_unpaid_df.loc[vine_unpaid_df['star_rating']==5]
print("The total number of 5-starts paid unreviews is: "+str(len(five_stars_unpaid)))

The total number of 5-starts paid unreviews is: 30530

In [12]:
precentage_unpaid=str(len(five_stars_unpaid)/total_reviews_unpaid*100)+"%"
print("The percentage of 5-star reviews is: "+ precentage_unpaid)

The percentage of 5-star reviews is: 47.01697107832569%